body {
	background-color: #000;
}
#som {
	float: left;
	display: block;
}
#wrap {
	width: 783px;
	max-width: 783px;
	overflow: hidden;
	background-color: #000;
	margin: 0 auto;
}
header, footer {
	width: 783px;
}
aside, section {
	float: left;
}
header {
	height: 303px;
	background-color: #000;
	background-image: url(image/AlanChristiangoncalvesferreira_header.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#navup {
	height: 25px;
	float: left;
	width: 346px;
	top: 100px;
    left: 221px;
    position: relative;
}
#navup ul {
	width: 350px;
	display: flex;
	margin: 0 0 0 -41px;
}
#navup li {

margin: -9px 0 2px -6px;
	float: left;
	list-style: none;
	padding: 8px;
	text-align: center;
}
#navup a {
	color: #0FC2F2;
	text-decoration: none;
}
#navup a:actived {
}
#bntindex{background-image:url(image/bntindex.png); background-position:10px 1px ; background-repeat:no-repeat;
		  width: 163px; height:24px; }
			
			#bntindex:hover{background-image:url(image/bntindex.png); background-position:9px -36px ; background-repeat:no-repeat;}  
			
	#bntindeximg{position: absolute;
left: 3px;
margin-top: -7px;}

.left{left: 0px;
top: 0px;}



#masterpicture {
	width: 200px;
	height: 171px;
	    top: 144px;
    left: 7px;
	position:relative;
	display: block;
	background-image: url(image/masterpicture.png);
	background-repeat: no-repeat;
}
#masterpicture ul {
	width: 160px;
	display: flex;
	margin: -1px 0 0 4px;
	padding: 0;
}
#masterpicture li {
	float: left;
	width: 80px;
	background-repeat: no-repeat;
	margin: 2px;
	position: relative;
	list-style: none;
	height: 30px;
	cursor:pointer;
}
#masterpicture li:hover {
	cursor:pointer;
}
  #FotoPerfil{left: 72px;
position: absolute;
top: 39px; width: 82px;
height: 92px;}
.usermaster {
	background-image:url(image/iconpiramide.png);
	background-repeat:no-repeat;
background-position: 0px 0px;
}
.usermaster:hover {
	background-image:url (image/iconpiramide.png);
	background-repeat:no-repeat;
background-position: -165px 0px;
}
.userfacebook {
	background-image:url(image/iconpiramide.png);
	background-repeat:no-repeat;
background-position: -55px 0px;
}
.userfacebook:hover {
	background-image:url(image/iconpiramide.png);
	background-repeat:no-repeat;
background-position: -165px 0px;
}
.usergoogle {
	background-image:url(image/iconpiramide.png);
	background-repeat:no-repeat;
	background-position: -114px 0px;
} 
.usergoogle:hover {
	background-image:url(image/iconpiramide.png);
	background-repeat:no-repeat;
background-position: -167px 0px;
}
aside {
	width: 161px;
	height: 536px;
	margin: 0px 0 0 22px;
	background-color: #000;
	background-image: url(image/AlanChristianGFerreiramenulateral.png);
	background-repeat: no-repeat;
}
aside ul {
	width: 123px;
	margin: -28px 0 0 -13px;
}
aside li {
	width: 161px;
	height: 112px;
	background-image: url(image/Layer-user.png);
	background-repeat: no-repeat;
	;
	list-style: none;
	margin: 14px 0 0 -39px;
}
aside li a {
	left: 65px;
top: 2px;

position: relative;
}
 #bntop{
	 background-image:url(image/iconoptions.png); 
	 background-repeat:no-repeat;
    width: 23px;
    height: 21px;
   margin-top: -1px;
background-position: 0px 1px;
    }
#bntop:hover{
	 background-image:url(image/iconoptionsHover.png); 
	 background-repeat:no-repeat;
	
	}
section {
	width: 600px;
	height: 536px;
	background-color: #000;
}
#top {
	width: 653px;
	height: 74px;
	background-image: url(image/headersection.png);
	background-repeat: no-repeat;
	background-position: 141px -3px;
	    z-index: 10;
    position: relative;
}
footer {
	height: 144px;
	display: flex;
	background-color: #000;
	background-image: url(image/footerpiso.png);
	background-repeat: no-repeat;
	background-position: 0px 48px;
	background-size: 100%;
}
#textfooter {
	width: 300px;
	height: 10px;
	margin: 6px 0 0 228px;
}
#textfooter a {
	color: #00fdff;
	text-decoration: none;
	font-size: 17px;
	font-family: sans-serif;
}
#textfooter a:actived {
}
#textfooter a:visited {
}
#partinership {
	background-image: url(image/Partnershipbackground.png);
	background-repeat: no-repeat;
	background-size: 103%;
	background-position: -19px -14px;
	width: 630px;
	height: 458px;
	margin: -72px 0 0 0;
}
#partinership button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: absolute;
	border: none;
margin: -384px 0 0 -191px; }
.icon1 {
	top: 592px;
	left: 442px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon2 {
	top: 559px;
	left: 425px;
	background-image: url(image/iconMicrosoft22.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon3{
	top: 614px;
left: 415px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
	
	}
.icon4{
	top: 627px;
left: 472px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
	
	}	
	
.icon5{
	top: 572px;
left: 494px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon6{
	top: 526px;
left: 458px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon7{
	top: 534px;
left: 398px;
background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon8{
	top: 582px;
left: 365px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon9{
	top: 640px;
left: 378px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon10{
	top: 678px;
left: 424px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon11{
	top: 677px;
left: 484px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon12{
	top: 644px;
left: 535px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon13{
	top: 587px;
left: 556px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon14{
	top: 527px;
left: 549px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon15{
	top: 478px;
left: 513px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon16{
	top: 453px;
left: 457px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon17{
	top: 450px;
left: 397px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon18{
	top: 472px;
left: 339px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon19{
	top: 516px;
left: 296px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon20{
	top: 574px;
left: 274px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon21{
	top: 635px;
left: 274px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon22{
	top: 693px;
left: 293px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon23{
	top: 741px;
left: 330px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon24{
top: 778px;
left: 380px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon25{
top: 796px;
left: 437px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon26{
top: 794px;
left: 499px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon27{
top: 776px;
left: 556px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon28{
 top: 744px;
left: 610px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon29{
  top: 701px;
left: 653px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon30{
  top: 648px;
left: 682px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon31{
 top: 589px;
left: 698px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.icon32{
top: 528px;
left: 694px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon33{
 top: 470px;
left: 676px;
	background-image: url(image/iconAlanChristianGoncalvesFerreira.png);
	background-repeat: no-repeat;
	background-size: 100%;
}



.iconnicky {
	top: 657px;
	left: 483px;
}
.perfil {
	width: 22%;

top: -42px;
float: left;
	
}
#home {
	width: 571px;
height: 440px;
margin: 8px 10px 10px 10px;

}
#bloco1 {
	width: 100%;
	height: 128px;
}

#info {
	float: left;
}
.titulo {
	font-size: 19px;
	font-family: tahoma;
	color:#09F;
	left: 10px;
	position: relative;
}
.texto {
	fontsize: 50px;
	color: White;
	text-align: justify;
	margin: 1px;
	position: relative;
	left: 5px;
}
#telaone{     width: 590px;
    height: 440px;
    background: aqua;
    float: left;}
#bloco2 {
	width:100%;
	height: 440px;
    z-index: -3;
}
#bloco2 a {
	text-decoration: none;
}
#bloco2 ul{width: 8px;
height: 440px;
display: block;
position: absolute;
border-right: 2px solid #000;
float: left;
margin-top: 0px;
background: #002d54;
}
#bloco2 li{
	    background: rgba(0, 204, 255, 0.87);
	width: 48px;
height: 34px;
margin-left: 1px;
list-style: none;
position: relative;
display: block;
margin-top: 3px;
left: -41px;
text-align: center;
}
#bloco2 li > a {font-size: 24px;
text-align: center;
color: rgba(255, 0, 0, 0.87);}
#conteudo{width: 544px;
    height: 326px;
    position: relative;
    margin: 0 0 0 46px;
    color: #39F;
    font-size: 14px;
    background: #68b3c0;}
#figure{height: 114px;
    background: #002d54;
    width: 92%;
    margin: -16px 0 0 50px;}


#intro {
	top: -33px;
    position: relative;
	z-index:7;
}
.scrollbar.vertical {
	width: 18px;
	height: 530px;
	position: absolute;
	left: 179px;
	background: blue;
}
.scrollbar.vertical > div {
	width: 20px;
	height: 40px;
	background-color: #F00;
	position: absolute;
	top: 0;
	left: 0;
}
#scroll {
	margin-top: 16px;
	font-family: 'Open Sans';
	height: 472px;
	width: 136px;
	
	padding: 20px;
	color: rgb(255,255,255);
	margin-left: -15px;
}
.csb-drag, .csb-track {
	position: absolute;
	right: 0;
	cursor: pointer
}
.csb-area {
	overflow: hidden!important
}
.csb-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll
}
.csb-wrap.unselectable {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}
.csb-track {
	top: 0;
	bottom: 0;
	width: 8px;
	overflow: hidden;
	
}
.csb-drag {
	background: #2537FF;
	left: 0;
	border-radius: 4px;
 
	border: 1px solid #505050;
	border-color: rgba(80,80,80,.3);
	transition: opacity .3s ease-in;
	-webkit-transition: opacity .3s ease-in
}
.csb-drag.visible {
	opacity: 1
}
#jquery-script-menu {
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0;
	left: 0;
	border-top: 5px solid #316594;
	background: #fff;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 999999;
	padding: 10px 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.jquery-script-center {
	width: 960px;
	margin: 0 auto;
}
.jquery-script-center ul {
	width: 212px;
	float: left;
	line-height: 45px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.jquery-script-center a {
	text-decoration: none;
}
.jquery-script-ads {
	width: 728px;
	height: 90px;
	float: right;
}
.jquery-script-clear {
	clear: both;
	height: 0;
}


        #olho1{ width: 235px;
height: 204px;
position: absolute;
z-index: 3; background-image:url(image/backyeas1.png); background-repeat:no-repeat; left: 464px;
    top: 94px; background-size: 66%;}


 #olho1:hover{background-image:url(image/backyeas1houver.png); background-repeat:no-repeat;left: 464px;
    top: 94px; background-size: 66%;}
 #backgroundolhomaster{width: 572px;
left: 100px;
position: absolute;
background-image: url(image/backgroundAlanChristianGon%C3%A7alvesFerreira.png);
background-repeat: no-repeat;
background-size: 101%;
z-index: 1;
height: 395px;
top: 90px;
}
#backgroundolhomaster:hover{background-image: url(image/backgroundAlanChristianGon%C3%A7alvesFerreirahover.png);
background-repeat: no-repeat;
background-size: 101%;}

.titulodois{ font-size: 28px;
    color: red;
    font-family: tahoma;
    text-align: center;
    border-bottom: 1px solid red;}
